// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

$dark: #222;

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  & > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vertical-align-2 {
  position: relative;
  top: 33%;
  -webkit-transform: translateY(-66%);
  -ms-transform: translateY(-66%);
  transform: translateY(-66%);
}

@mixin vertical-align-3 {
  position: relative;
  top: 66%;
  -webkit-transform: translateY(-33%);
  -ms-transform: translateY(-33%);
  transform: translateY(-33%);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}


.info-box {
  position: absolute;
  left: 1%;
  right: 70%;
  top: 80%;
  bottom: 1%;
  min-width: 135px;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 5px black;

  .tabs {
    position: relative;
    top: -22px;
    min-width: 135px;

    & > * {
      background-color: black;
      color: white;
      padding: 2px 15px;
    }
  }
}

.action-container {
  position: absolute;
  right: 0;
  left: 33%;
  bottom: 1%;
  top: 85%;
  text-align: right;

  & > div { 
    height: 100%;
  }
  
  .action {
    font-size: 18px;
    font-weight: bold;
    @include vertical-align;
  }

  .button {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 100%;
    margin-right: 5%;
    text-align: center;
    background-color: $dark;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
  }
}


.table-wrapper {
  @include aspect-ratio(16,9);
}
.table {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 3%;
  bottom: 27%;
  border-radius: 50%;
  max-width: 1400px;
  background: url("https://www.ethereum.org/images/Ethereum-BGD_4K_2.png") center center no-repeat #161c30;
  box-shadow: 1px 1px 11px black;
}

.slider {
  position: absolute;
  bottom: 20%;
  right: 3%;
  left: 83%;
  top: 77%;
  & > input {
    width: 100%;
  }
}

.heads-up {
  .cards-1 {
    top: 25%;
    bottom: 54%;
    left: 3%;
    right: 82%;
  }

  .seat-1 {
    top: 36%;
    bottom: 54%;
    left: 2%;
    right: 82%;
  }

  .cards-0 {
    top: 25%;
    bottom: 54%;
    left: 83%;
    right: 2%;
  }

  .seat-0 {
    top: 36%;
    bottom: 54%;
    left: 82%;
    right: 2%;
  }

  .cards {
    position: absolute;
    & > img {
      width: 46%;
      background-color: black;
      border-radius: 3px;
    }
  }

  .seat {
    position: absolute;
    box-shadow: 1px 1px 10px black;
    background-color: $dark;
    color: white;
    font-size: 14px;
    text-align: center;
    min-height: 50px;

    &.active {
      margin: -1px;
      border: 1px solid white;
    }
  }
}
.player-name{
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 55%;
  overflow: hidden;
} 

.player-stack {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  bottom: 5%;
  overflow: hidden;
}

.table {
  .cards {
    position: absolute;
    top: 25%;
    width: 50%;
    left: 25%;
    text-align: center;
  }
  .cards-wrapper {
    width: 100%;
    padding-bottom: 31%;
    position: relative;
  }
  .card {
    position: absolute;
    top: 5%;
    bottom: 5%;
    width: 19%;
    background-size: cover;
  }
  .empty {
    border: 1px dashed white;
    &:not(:nth-of-type(1)) {
      border-left: none;
    }
  }
  .pot {
    text-align: center;
    position: absolute;
    color: white;
    font-size: 18px;
    left: 45%;
    right: 45%;
    top: 65%;
    bottom: 35%;
  }
}

.chips-1 {
  position: absolute;
  left: 19%;
  top: 19%;
  bottom: 50%;
  right: 72%;

  .pile-label {
    color: white;
    position: absolute;
    bottom: -25px;
    left: 10px;
  }
}

.chips-0 {
  position: absolute;
  left: 72%;
  top: 19%;
  bottom: 50%;
  right: 19%;

  .pile-label {
    color: white;
    position: absolute;
    bottom: -25px;
    right: 10px;
  }
}

.chip {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13px;
    height: 13px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    border: 2px dashed #fff;
  div {
    text-align: center;
    line-height: 13px;
    font-size: 8px;
    color: white;
  }
}




.table .card:nth-of-type(1){
  left: 0%;
}
.table .card:nth-of-type(2){
  left: 20%;
}
.table .card:nth-of-type(3){
  left: 40%;
}
.table .card:nth-of-type(4){
  left: 60%;
}
.table .card:nth-of-type(5){
  left: 80%;
}



