<div class="table-wrapper">
  <div class="table">
    <div class="cards"><div class="cards-wrapper">
      <div ng-repeat="card in game.tableCards"
           class="card"
           style="background-image: url('../images/cards/{{card}}.png');"></div>

    </div></div>

    <div ng-if="game.pot" class="pot">
      <div class="chip" 
           ng-repeat="chips in pile1"
           style="{{chips.style}}">
        <div>{{chips.amt}}</div>
      </div>
      <div>{{game.pot}}</div>
    </div>
  </div>
  <div class="seats heads-up">
    <div class="cards cards-1">
      <img ng-src="../images/cards/{{game.players[1].hand[0]}}.png">
      <img ng-src="../images/cards/{{game.players[1].hand[1]}}.png">
    </div>  
    <div class="chips-1" ng-if="pile1">
      <div class="chip" 
           ng-repeat="chips in pile1"
           style="{{chips.style}}">
        <div>{{chips.amt}}</div>
      </div>
      <div class="pile-label">${{game.players[1].currentWager}}</div>
    </div>  
    <div class="seat seat-1" ng-class="{active: !showActions}">
      <div class="player-name">{{game.players[1].id}}</div>
      <div class="player-stack">${{game.players[1].chips}}</div>
    </div>
    <div class="cards cards-0">
      <img ng-src="../images/cards/{{game.players[0].hand[0]}}.png">
      <img ng-src="../images/cards/{{game.players[0].hand[1]}}.png">
    </div>
    <div class="chips-0" ng-if="pile0">
      <div class="chip" 
           ng-repeat="chips in pile0"
           style="{{chips.style}}">
        <div>{{chips.amt}}</div>
      </div>
      <div class="pile-label">${{game.players[0].currentWager}}</div>
    </div>
    <div class="seat seat-0" ng-class="{active: showActions}">
      <div class="player-name">{{game.players[0].id}}</div>
      <div class="player-stack">${{game.players[0].chips}}</div>
    </div>
  </div>
</div>


<div class="info-box">
  <div class="tabs">
    <a>Chat</a>
    <a>Stats</a>
  </div>
</div>

<div class="slider">
  <input type="range" min="{{minBet}}" max="{{game.players[0].chips}}" ng-model="newWager">
</div>


<div ng-if="showActions" class="action-container">
  <div ng-if="game.highestWager > 0">
    <div class="button">
      <div class="action" ng-click="fold()">fold</div>
    </div>
    <div class="button">
      <div class="action" ng-click="call(game.currentWager)">
        <div>call</div>
        <div class="amt">${{game.highestWager - game.players[0].currentWager}}</div> 
      </div>
    </div>
    <div class="button">
      <div class="action" ng-click="raise(newWager)">
        <div>raise</div>
        <div class="amt">${{newWager}}</div>
      </div>
    </div>
  </div>
  <div ng-if="game.highestWager == 0">
    <div class="button" ng-click="check()">
      <div class="action">check</div>
    </div>
    <div class="button" ng-click="bet(newWager)">
      <div class="action">
        <div>bet</div>
        <div class="amt">${{newWager}}</div> 
      </div>
    </div>
  </div>
</div>
