<div class="table-wrapper">
  <div class="table">
    <div class="cards"><div class="cards-wrapper">
      <div class="card" style="background-image: url('../images/cards/2c.png');"></div>
      <div class="card" style="background-image: url('../images/cards/5h.png');"></div>
      <div class="card" style="background-image: url('../images/cards/ac.png');"></div>
      <div class="card" style="background-image: url('../images/cards/10d.png');"></div>
      <div class="card" style="background-image: url('../images/cards/js.png');"></div>
    </div></div>
  </div>
  <div class="seats heads-up">
    <div class="seat seat-1">
      <div class="player-name">Satoshi Nakamoto</div>
      <div class="player-stack">$333</div>
    </div>
    <div class="seat seat-2">
      <div class="player-name">Nick Szabo</div>
      <div class="player-stack">$444</div>
    </div>
  </div>
</div>

